<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>List of Customers</title>
    </head>
    <body>
        <section layout:fragment="content">
            <div class="container">
                <table>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Birthdate</th>
                    <th>Show Contracts</th>
                    <th>Edit...</th>
                </tr>
                <tr th:each="customer: ${customers}">
                    <td th:text="${customer.firstname}" />
                    <td th:text="${customer.lastname}" />
                    <td th:text="${customer.birthdate}" />
                    <td><a th:href="@{/public/customer/{id}/contracts/view(id=${customer.id})}">Show</a></td>
                    <td><a th:href="@{/public/customer/edit/{id}(id=${customer.id})}">Edit</a></td>
                    <!-- Challenge: Add the new column here with a link to /public/customer/{customerId}/contracts/view -->
                </tr>
                </table>
            </div>
        </section>
    </body>
</html>
