<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
    <head>
        <title>Tariff-Manager Customers List</title>
    </head>
    <body>
        <section layout:fragment="content">
            <div class="container">
                <br/>
                <div class="alert alert-success">
                    <strong>If this looks ok Bootstrap CSS is working.</strong>
                </div>
            </div>
            <div class="container">
                <a th:href="@{/public/customer/list}">Customer Section</a>
            </div>
    </body>
</html>
